.ProseMirror-content {
  max-height: 10em;
  overflow: auto;
}

.search-result {
  background-color: yellow;
}

pre {
  padding: 1rem !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.ProseMirror ul {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.ProseMirror li {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.ProseMirror ol {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

code {
  font-size: 1rem !important;
}

.tiptap .custom-link-style {
  color: var(--mantine-color-anchor);
}

.tiptap .custom-link-style:hover {
  text-decoration: underline;
}
